//@import "bulma/sass/utilities/_all.sass";

$white: #ffffff;
$shadow-color: #a2f7f6;
$link-color: #90ffbc;
$dark0: hsl(0, 0%, 0%);
$dark1: hsl(0, 0%, 7%);
$dark2: hsl(0, 0%, 14%);
$dark3: hsl(0, 0%, 21%);
$dark4: hsl(0, 0%, 29%);
$dark5: hsl(0, 0%, 36%);
$dark6: hsl(0, 0%, 43%);


$navbar-color: #041b2b;